body {
  font-style: normal;
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif, helvetica;
  background-color: #1C1B17;
}

#container {
  height: 240px;
  width: 620px;
  float: right;
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 300px;
}

h1 {
  font-size: 4em;
  color: #00A0E3;
}

h2 {
  font-size: 2.5em;
  color: #FFFFFF;
}

#main h2 {
  margin-bottom: 20px;
}

.right {
  text-align: right;
}


#list li {
  font-size: 1.5em;
  margin-bottom: 20px;
}

a {
  color: #00A0E3;
}

a:hover {
  color: #FFFFFF;
}

#portfolio li p {
  font-size: 1.1em;
  color: #FFFFFF;
}

#portfolio li a {
  font-size: 1.5em;
}

#portfolio li {
  margin-top: 12px;
  margin-bottom: 24px;
}

